* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;
}

form {
  min-width: 550px;
  border-radius: 10px;
  text-align: center;
  margin-top: 10px;
}

footer,
header {
  text-align: center;
}

footer a {
  font-size: 22px;
}

footer {
  margin-top: auto;
  padding: 18px;
  color: white;
  font-size: 20px;
}

a:hover {
  color: blue;
}

.library {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

.book {
  user-select: none;
  position: relative;
  display: flex;
  color: white;
  flex-direction: column;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  height: 400px;
  width: 60%;
  background-color: rgb(124, 124, 124);
  transition: all 0.5s ease-in-out;
}

input:focus:invalid {
  border-color: #a72828 !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.5) !important;
}

input:focus:valid {
  border-color: #28a745 !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 255, 60, 0.5) !important;
}

.book-read {
  opacity: 0.55;
}

.status-div {
  position: absolute;
  bottom: 0;
  left: 30%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: rgba(255, 255, 255, 0.411);
  width: 40%;
  text-align: center;
}

.status-div p {
  font-size: 20px;
  font-weight: bold;
}

.read {
  color: green;
}
.unread {
  color: red;
}
.book-title {
  color: rgba(105, 175, 40, 0.767);
  margin-top: 5px;
  text-align: center;
}

.book-author {
  color: rgb(255, 115, 0);
  margin-top: 22px;
  text-align: right;
}

.book-pages {
  margin-top: auto;
  color: black;
  margin-bottom: 35px;
  text-align: center;
  font-weight: bold;
}

label {
  font-size: 14px;
}

.fa-book-open {
  position: absolute;
  bottom: 15px;
  left: 15px;
  display: inline-block;
  font-size: 25px;
  transition: all 0.5s ease-in-out;
}

.fa-book-open:hover {
  transform: scale(1.2);
}

.fa-trash {
  color: burlywood;
  display: inline-block;
  position: absolute;
  font-size: 25px;
  bottom: 15px;
  right: 15px;
  transition: all 0.5s ease-in-out;
}

.fa-trash:hover {
  transform: rotate(45deg) scale(1.2);
  color: red;
}

button:focus {
  outline: none;
}

#sort-by-label {
  font-size: 20px;
}

@media only screen and (min-width: 600px) {
  .book {
    width: 60%;
  }
}

@media only screen and (min-width: 768px) {
  .book {
    width: 40%;
  }
}

@media only screen and (min-width: 968px) {
  .book {
    width: 27%;
  }
}

@media only screen and (min-width: 1196px) {
  .book {
    width: 21%;
  }
}

@media only screen and (min-width: 1396px) {
  .book {
    width: 16%;
  }
}
