.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

footer, header {
  text-align: center;
}

header {  
  background-color: rgb(231, 133, 133);
  padding: 20px;
  color: white;
}

footer {
  margin-top: auto;
  padding: 20px;
  background-color: rgba(196, 196, 196, 0.575);
  font-size: 20px;
}

footer a {
  color: lightseagreen;
  text-decoration: none;
  font-size: 24px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 650px;
  min-width: 500px;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  background-color: #f3f3f3;
}

form input {
  width: 100%;
  padding: 3px;
  border-radius: 4px;
  border: 1px solid lightgray;
  margin-top: 5px;
}

label {
  display: inline-block;
}

.form-group {
  text-align: center;
  padding: 5px 0;
  width: 33%;
}

input:focus {
  outline: none;
  border: 2px solid lightgray;
}

select {
  padding: 5px;
}

button {
  padding: 7px;
  border-radius: 3px;
  border: 1px solid lightgray;
  transition: all 0.3s ease-in-out;
}

button:hover {
  color: #f3f3f3;
  background-color: black;
}

.library {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

.book {
  user-select: none;
  position: relative;
  display: flex;
  color: white;
  flex-direction: column;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  height: 400px;
  width: 90%;
  background-color: rgb(124, 124, 124);
  transition: all 0.5s ease-in-out;
}

.book-read {
  opacity: 0.4;
}

.status-div p {
  font-size: 20px;
  font-weight: bold;
}

.read {
  color: green;
}
.unread {
  color: red;
}
.book-title {
  margin-top: 5px;
  text-align: center;
}

.book-author {
  margin-top: 25px;
  text-align: right;
}

.book-pages {
  margin-top: auto;
  text-align: center;
  font-weight: bold;
}

.fa-book-open {
  display: inline-block;
}

.fa-trash {
  position: absolute;
  font-size: 25px;
  bottom: 15px;
  right: 15px;
  transition: all 0.3s ease-in-out;
}

.fa-trash:hover {
  transform: rotate(45deg);
  color: red;
}

@media only screen and (min-width: 600px) {
  .book {
    width: 90%;
  }
}

@media only screen and (min-width: 768px) {
  .book {
    width: 45%;
  }
}

@media only screen and (min-width: 968px) {
  .book {
    width: 30%;
  }
}

@media only screen and (min-width: 1096px) {
  .book {
    width: 20%;
  }
}